<!DOCTYPE>
<html>
<head>
    <title>Tasks Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-10 card shadow mx-auto mt-3">
            <div class="card-header text-center bg-dark text-light">
                <h2>ajouter une tâche</h2>
            </div>
            <div class="card-content mt-3">
                <form action="/task/new" method="post">
                    <div class="mb-3">
                        <label for="label" class="form-label">Tâche</label>
                        <input type="text" name="label" id="label" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea  name="description" id="description" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">terminé</label>
                        <input type="checkbox" name="status" id="status" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-dark">Ajouter</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>
